name: newrelic-integration-e2e-action

# Pipeline: nri-config-generator
# The purpose of this pipeline is guarantee that the code in the config-generator is correct
# Actually this project is used to build different executables depending on the integrations
# Although this code doesn't create a excutable at all, we need to ensure the following steps:
#  - golang-lint: Static analysis of the code
#  - snyk: Guarantee that our base code doesn't contain security issues
#  - test-nix: Run unit tests in a *nix environment
#  - test-windows: Run unit tests in a windows environment
#  - test-integration-nix: Run integration tests in a *nix environment

on:
  push:
    paths: [ newrelic-integration-e2e/** ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  GO_VERSION: '1.16'

jobs:

  golangci-lint:
    name: Validate code via golangci
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v2
        with:
          working-directory: newrelic-integration-e2e-action
  snyk:
    if: ${{ false }}
    name: Run security checks via snyk
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      - name: Scan code for vulnerabilities
        env:
          SNYK_TOKEN: ${{ secrets.COREINT_SNYK_TOKEN }}
        run: make ci/snyk-test

  test-nix:
    if: ${{ false }}
    name: Run unit tests on *Nix
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}
      - name: Unit tests
        run: make -C spec-validator test